*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f6f7f8;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


/* TOP BAR */
.top-bar {
  background: #0b7a3e;
  color: white;
  font-size: 14px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.divider {
  margin: 0 10px;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #0b7a3e;
}

/* SEARCH */
.search-box {
  display: flex;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  padding: 10px;
}

.search-box button {
  background: #0b7a3e;
  color: white;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}

/* NAV ACTIONS */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-actions a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  position: relative;
  font-weight: bold;
}
.nav-actions a i{
  margin-right: 8px;
}

.cart {
  position: relative;
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #0b7a3e;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
/* MENU BAR */
.menu-bar {
  display: flex;
  gap: 30px;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.menu-bar a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
  position: relative;
  padding-bottom: 5px;
  font-weight: bold;
}

/* ACTIVE LINK */
.menu-bar a.active {
  color: #0b7a3e;
  font-weight: bold;
}

/* GREEN UNDERLINE */
.menu-bar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background: #0b7a3e;
  border-radius: 2px;
}

/* HOVER EFFECT */
.menu-bar a:hover {
  color: #0b7a3e;
}

/* HERO */
.hero {
  display: flex;
  /* justify-content:flex; */
  flex-direction: row;
  align-items: center;
  padding: 10px 140px;
  background: #eef5f0;
  border-radius: 10px;
  margin: 20px 40px;
}

/* TEXT */
.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  color: #0b7a3e;
  margin-bottom: 15px;
}
.hero-text h1 span{
  color:#312f2f;
  position: relative;
  top:-15px;
}
.hero img{
   width: 1.7em;
  height: auto;
  margin-left: 8px;
  vertical-align: baseline;
  position: relative;
  top: 5px;

}
.hero-text p {
  color: #555;
  margin-bottom: 20px;
  font-weight: bold;
}
.hero-features span {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
  font-weight: bold;
}

.hero-features i {
  color: #0b7a3e;
  font-size: 25px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn-primary {
  background: #0b7a3e;
  font-weight: bold;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #0b7a3e;
  font-weight: bold;
  color: #0b7a3e;
  padding: 12px 18px;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}

/* FEATURES */
.hero-features {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

/* IMAGE */
.hero-image {
  position: relative;
}

.hero-image img {
  width: 100%;
  height:auto auto;
}

/* BADGE */
.badge {
  position: absolute;
  bottom: 70px;
  right: 60px;
  background: #f5c542;
  padding: 15px;
  width: 110px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.badge i{
  font-size: 20px;
}



/* Responsive Hero */

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    width: 100%;
    margin-top: 20px;
  }
}

/* Responsive Navbar  */
@media (max-width: 768px) {
  .search-box {
    width: auto;
  }

  .menu-bar {
    overflow-x: auto;
    gap: 15px;
  }
}